{% extends "base.html" %} {% load website_tags %} {% load static %} {% block title %}Rules{% endblock %} {% block content %}

<div class="flex-container flex-center padding-30">
    <div class="rules-container">
        <div class="section-title border-bottom">
            <i class="material-icons">
                format_quote
                </i> SimRacingMania Rules
        </div>
        <img src="{% static 'img/logo.png' %}"/>
        {% for desc in rules_description %}
            {{ desc.body|markdown }}
        {% endfor %}
        <p class="table-of-content">Table of content:</p>
        <ul>
            {% for rules in rules_all %}
            {% if rules.series %}
            {% else %}
            <li>
                <a href="{{ rules.get_absolute_url }}">{{ rules.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}